.cards {
    padding: 4rem;
    background:  rgb(156, 207, 241);

  }
  
  h1 {
    text-align: center;
  }

 

   .home_cards_title {
    color: rgb(0, 114, 192);
    text-decoration: none;
    font-size:28px;    
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
    font-weight: bold;
    position: relative;
    top: 0px;
    margin-top: 0px;
  }
  
  
  .cards_div {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    font-family: 'PT Sans', sans-serif;
    background-color:white;
    height:100%;
    margin-top: 10px;
    background-color:#f2f2f2;

  }

   
  .cards_items {
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 0%;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    box-shadow:  0 0 10px 5px rgb(140, 200, 240);    
    border-radius:25px;    
    color: black;
    background-color:#f2f2f2;

  }

 

   

  .cards_items1 {
    
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 15%;
    margin-right: 0%;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    box-shadow:  0 0 10px 5px rgb(140, 200, 240);  
    border-radius:25px;    
    background-color:#f2f2f2;


  }

  .cards_items2 {
    
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 15%;
    margin-right: 0%;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    box-shadow:  0 0 10px 5px rgb(140, 200, 240);    
    border-radius:25px; 
    margin-top:50px;  
    background-color:#f2f2f2; 

  }


  .cards_items3 {
    
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top:3%;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    box-shadow:  0 0 10px 5px rgb(140, 200, 240);    
    border-radius:25px; 
    
    background-color:#f2f2f2;
  }

  .cardsImg1 {
    position: relative;
    width: 30%;
    height: 30%;
    box-shadow:  0 0 10px 5px whitesmoke;   
    border-radius:25px;    
    top: 10px;
    border: 2px rgb(140, 200, 240) solid;

  }


  .pstyle {
    color: black;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size:11pt;    
    text-align: justify;
    font-family: 'PT Sans', sans-serif;

  }

  .cardstyleBold {
    color: black;
    text-decoration: none;
    font-size:22px;    
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
    font-weight: bold;
    position: relative;
    top: 10px;
    margin-top: 0px;
  }

  .cardstyle {
    color: black;
    text-decoration: none;
    font-size:11pt;    
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
  }

  .scroll {
    color: black;
  }

  .cardsImgP {
    margin: 0px;
    padding : 0px;
  }

  .cardsImg {
    position: relative;
    width: 70%;
    height: 100%;
    box-shadow:  0 0 10px 5px whitesmoke;   
    border-radius:25px;    
    top: 10px;
    border: 2px rgb(140, 200, 240) solid;

  }

  

  
  .CardTable
  {
    width:50%;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
    border-radius:25px;
    padding: 30px;
    background:  rgb(156, 207, 241);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }
  .CardTD
  {
    height:30px;
    text-align:center;
    font-weight:bold;
    padding: 20px;
    background: white;

  }

  .Cardimg {
    position: absolute;
    width: 50%;
    height: 50%;
    object-fit: cover;
    transition: all 0.2s linear;
  }


  .cards_container {
    background-color:white;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    font-family: 'PT Sans', sans-serif;
    margin-top: 0px;    
    background-color:#f2f2f2;    
    margin-top: 2px;

  }

  
  .cards_container1 {
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    font-family: 'PT Sans', sans-serif;
    margin-top: 0px;

  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
    border-radius:25px;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 20%;
    max-width:20%;
    height: 20%;
    max-height: 20%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  
  
  